#wrapper {
    max-width: 760px;
    margin: 0 auto;
}
h2 {
    
    color: #007bff;}
    ul {
        list-style-type: none;
        padding: 0;
        color: #007bff;}
        li {
            margin: 10px 0;
        }
        h1 {
            text-align: center;
            color: #007bff;}
#logo {width: 30%;
    height: 200px;
    float: left;
background: #051f3a;}
#website {
    width: 70%;
    height: 200px;
    float: right;

}

#nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background: #a1b9d3;
}
#p1 {
    text-align: center;
    }
#aside {width: 30%;
    height: 730px;
    float: left;
    background: #051f3a;
}
#aticle {
    width: 70%;
    height: 300px;
    float: right;
}
#transcript{
    width: 70%;
    height: 300px;
    float: right;
}
#table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
  }
#tr:hover {
    background-color: #f5f5f5;
  }
  td:first-child {
    text-align: left;
  }
  th {
    background-color: #9eb6eb;
  } 
  th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
  } 
  .title {
    font-size: 36px; /* Điều chỉnh kích thước chữ */
    font-weight: bold; /* Làm chữ đậm */
    text-align: center; /* Căn giữa chữ */
    text-transform: uppercase; /* Chuyển chữ thành chữ hoa */
    color: #333; /* Màu chữ */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Tạo hiệu ứng bóng chữ */
    position: relative; /* Để đặt đường kẻ dưới */
  }
  
  .title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Điều chỉnh khoảng cách từ chữ xuống đường kẻ */
    width: 100%;
    height: 3px;
    background-color: #007bff; /* Màu đường kẻ */
  }
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  } 